$typewriter-font: "john-doe", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$handwriting-font: "leander-script-pro", sans-serif;
$light-blue: #3befee;
$blood-red: #720f0f;
$blue-font: "sketchnote-square",sans-serif;
$cinema-alt: "mostra-nuova", serif;
$cinema: "lust-didone", serif;
@mixin nav-margin-top{
	margin-top: 55px;
}
@mixin float-left{
	float: left;
}
@mixin float-right{
	float: right;
}
@mixin blue-text{
	font-family: $blue-font;
    text-align: center; 
    color: $light-blue;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #110d69;
    position: relative; 
    z-index: 900;
    margin: 20px 0 0 0; 
    font-size: 30px;
    transform: scale3d(1.2,1,1);
    -webkit-transform: scale3d(1.2,1,1);	
}
@mixin blue-text-animate{
    animation: h1-animate 10s;  
    -webkit-animation: h1-animate 10s;
}
